/* File: HeaderStyle.css */

#content.open,
#content.open header {
  left: 240px; /* Adjust based on Drawer width */
}

#content,
header {
  transition: 300ms left;
  -webkit-transition: 300ms left;
  -moz-transition: 300ms left;
  -o-transition: 300ms left;
  left: 0;
}

/* Optional: Add any other styles for your header and content */
#header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1100;
}

#drawer-content {
  margin-top: 100px; 
  z-index: 1000;
}

.profile-placeholder {
  width: 40px;
  height: 40px;
  background-color: grey;
  border-radius: 50%;
}
