.container {
    max-width: 800px;
    margin: 5%;
    padding: 50px;
    align-items: center;
  }
  
  h2 {
    margin: 50px;
  }

  .search-bar {
    display: flex;
    align-items: center;
    margin: 50px;
    border-color: black;
  }
  
  .search-button {
    background-color: #7A5980;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px; /* Adjust margin-left to create space between input and button */
    margin-bottom: 10px;
  }
  
  .search-button:hover {
    background-color: #555E6F;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .filter-tags {
    overflow-x: auto;
    white-space: nowrap;
    align-items: center;
    display: flex;
    gap: 5px;
    margin: 20px auto; /* Set margin to auto for horizontal centering */
  }  
  
  .filter-tags button {
    display: inline-block;
    padding: 10px 30px;
    margin: 20px auto;
    background-color: #ECD6D4;
    color: #000000;
    border: none;
    cursor: pointer;
  }
  
  .filter-tags button:hover {
    background-color: #7A5980;
  }
  
  .artworks-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center; /* Center the containers horizontally */
    align-items: center;
    margin: 50px;
  }
  
  .artwork {
    width: 250px;
    height: 350px; /* Set a fixed height for consistency */
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .artwork-container {
    width: 100%;
    height: 100%; /* Make the container fill the artwork div */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .artwork img {
    width: 100%;
    height: 70%; /* Adjust the height of the image */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border-radius: 5px;
  }
  
  .artwork-details {
    width: 100%;
    height: 40%; /* Adjust the height of the details */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
  }
  
  
  .artwork-details p {
    margin: 5px 0;
  }
  
  